{% extends 'base.html' %} 
{% block content %} 

<a href="{% url 'add-habit'  %}"> <button class = "btn btn-primary">Add Habit</button> </a>
<a href="{% url 'habits'  %}"> <button class = "btn btn-primary">View All Habits</button> </a>
<a href="{% url 'daily'  %}"> <button class = "btn btn-primary">Daily</button> </a>
<a href="{% url 'weekly'  %}"> <button class = "btn btn-primary">Weekly</button> </a>

<table>
  <thead>
    <tr>
      <th scope="col">Habit Name</th>
      <th scope="col">Streak</th>
    </tr>
  </thead>
  <tbody>
    {% for habit_streak in habit_streaks %}
    <tr>
      <th scope="row">{{habit_streak.habit_id}}</th>
      <td>{{habit_streak.streak}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %} 