{% extends 'base.html' %}
{% block content %} 

<a href="{% url 'add-habit'  %}"> <button class = "btn btn-primary">Add Habit</button> </a>
<a href="{% url 'habits'  %}"> <button class = "btn btn-primary">View All Habits</button> </a>
<a href="{% url 'daily'  %}"> <button class = "btn btn-primary">Daily</button> </a>
<a href="{% url 'weekly'  %}"> <button class = "btn btn-primary">Weekly</button> </a>

<table>
  <thead>
    <tr>
      <th scope="col">Task Done</th>
      <th scope="col">Task Date</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{task.completed}}</td>
      <td>{{task.task_date}}</td>
      <td>
       <a href = "{% url 'update_task' task.id %}"  > COMPLETE TASK </a>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}  